.fade-in {
    opacity: 0;
    -webkit-animation: fade-in 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation: fade-in 0.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
    100% { opacity: 1; }
}@keyframes fade-in {
    100% { opacity: 1; }
}

.fade-out {
    opacity: 1;
    -webkit-animation: fade-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out {
    100% { opacity: 0; }
}@keyframes fade-out {
    100% { opacity: 0; }
}

.hero-container {
    text-align: center;
}

.section-label {
    color: #a8a8a8;
}

.hero-message {
    text-align: center;
    overflow: visible;
}

.hero-message .glyphicon-alert {
    color: #f7615c;
    font-size: 3em;
    margin-bottom: 8px;
    -webkit-animation: jiggle 0.5s ease-in-out 4 alternate;
    -moz-animation: jiggle 0.5s ease-in-out 4 alternate;
    -o-animation: jiggle 0.5s ease-in-out 4 alternate;
    animation: jiggle 0.5s ease-in-out 4 alternate;
}

@-webkit-keyframes jiggle {
    100%   { -webkit-transform: scale(1.25); }
}@-moz-keyframes jiggle {
    100%   { -moz-transform: scale(1.25); }
}@-o-keyframes jiggle {
    100%   { -o-transform: scale(1.25); }
}@keyframes jiggle {
    100%   { transform: scale(1.25); }
}

.hero-remove {
    float: right;
    font-size: 1.2em;
    color: #f7615c;
    transition: all 0.1s ease;
    z-index: 10;
}

.hero-remove::before {
    position: absolute;
    top: 0;
    right: 0;
}

.hero-remove:hover {
    font-size: 1.35em;
    color: red;
}

.hero {
    text-align: left;
    padding-bottom: 10px;
}

.hero-name {
    margin-top: 10px;
    z-index: 10;
    position: relative;
}

.hero-icon {
    font-size: 120px;
    text-align: center;
    line-height: 1;
    position: relative;
    z-index: 9;
}

.hero h5 {
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 2px;
}

.hero .section-label {
    color: #777;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    margin: 0;
}

.hero-stat-section {
    margin-bottom: 8px;
}

.hero-img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 780px;
}

.hero-aside {
    max-height: 780px;
}

.stat-bar {
    color: #fff;
    padding: 4px;
    text-align: left;
    background-color: #f99e1a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    line-height: 0.7em;
    font-size: 12px;

    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    -webkit-animation-name:stat-bar-anim;
    -webkit-animation-duration:2s;
    -webkit-animation-timing-function:ease-out;
}

.hero-stat-section:nth-child(even) .stat-bar {
    background-color: #405275;
}

@-webkit-keyframes stat-bar-anim {
0% { width:0%; }
}


a.panel {
    position: relative;
    display: block;
    color: inherit;
    height: 420px;
    border: none;
    overflow: hidden;
    padding-bottom: 60px;
}
/* index page*/

/* hero page */
/* a.panel {
    min-height: 780px;
} */



a.panel:hover {
    text-decoration: none;
}


.summary-head {
    padding: 30px 10px 10px 10px;
    text-align: center;
    position: relative;
    transition: color 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform-origin: 50% 0%;
    transform: scaleY(0.1);
    z-index: 5;
    transition: transform 0.5s;
}

a.panel:hover .overlay {
    transform: scaleY(1);
}

a.panel:hover .summary-head {
    color: white;
}

.summary-body {
    padding: 10px;
    text-align: left;
}

hr.tight {
    margin-top: 0px;
}

.genji {
    background-color: #bae77a;
}

.mccree {
    background-color: #795c42;
}

.pharah {
    background-color: #1f73c3;
}

.reaper {
    background-color: #5e5c50;
}

.soldier76 {
    background-color: #525d9b;
}

.tracer {
    background-color: #4dfffe;
}

.sombra {
    background-color: #9765de;
}

.bastion {
    background-color: #7a9767;
}

.hanzo {
    background-color: #837c46;
}

.junkrat {
    background-color: #c7712a;
}

.mei {
    background-color: #555576;
}

.torbjorn {
    background-color: #e9d282;
}

.widowmaker {
    background-color: #171939;
}

.dva {
    background-color: #feabe6;
}

.reinhardt {
    background-color: #b9b5ad;
}

.roadhog {
    background-color: #566565;
}

.winston {
    background-color: #e9a92e;
}

.zarya {
    background-color: #5588a2;
}

.orisa {
    background-color: #97ab40;
}

.ana {
    background-color: #6591ee;
}

.lucio {
    background-color: #8de141;
}

.mercy {
    background-color: #fedc57;
}

.symmetra {
    background-color: #3cffff;
}

.zenyatta {
    background-color: #6f241e;
}






/*================
  MEDIA QUERIES
 ===============*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .hero-name {
        margin-top: 20px;
    }

    a.panel {
        height: 600px;
    }

    .stat-bar {
        padding: 4px;
        line-height: 1em;
        font-size: 14px;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}



