html {
	min-height: 100%;
}

body {
	padding-top: 85px;
    padding-bottom: 25px;
	min-height: 100%;
}

h1 {
	text-align: center;
}

a:hover {
    cursor: pointer;
}

.form-control {
    font-size: 16px;
}

.fade-in {
    opacity: 0;
    -webkit-animation: fade-in 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation: fade-in 0.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
    100% { opacity: 1; }
}@keyframes fade {
    100% { opacity: 1; }
}

.fade-out {
    opacity: 1;
    -webkit-animation: fade-out 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out {
    100% { opacity: 0; }
}@keyframes fade-out {
    100% { opacity: 0; }
}

.hero-container {
    text-align: center;
}

#ow-bg {
	width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    opacity: .2;
    z-index: -100;
}

#ow-bg:before {
	content: url(../img/OW-bg-pattern.svg);
}

#account-icon {
    height: 40px;
    margin-right: 10px;
    margin-top: -15px;
    margin-bottom: -15px;
    border-radius: 6px;
}

#hero-grid {
    text-align: center;
}

#hero-list.dropdown-menu{
	min-width: 420px;
}

#hero-list.dropdown-menu>.dropdown-inline {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    padding: 0;
}

#hero-list.dropdown-menu>.dropdown-inline>li {
    margin-left: 5px;
}

#hero-list.dropdown-menu>.dropdown-inline>li>a {
    display: block;
    padding: 3px 8px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    /*color: #333;*/
    white-space: nowrap;
}

#hero-list.dropdown-menu>.dropdown-inline>li>a:hover {
    background-image: none;
    text-decoration: none;
}

#form-username {
    margin-top: 3%;
    text-align: center;
}

#modal-loading {
    top: 20%;
}

.dropdown-menu li a:hover {
    background-color: rgba(249, 158, 26, 0.9);
}


#hero-section-original {
    display: none;
}

#page-error {
    margin-top: 15%;
}

.section-label {
    color: #a8a8a8;
}

.hero-icon {
	font-size: 120px;
	text-align: center;
	line-height: 1;
}

.hero-message {
    text-align: center;
}

.hero-message .glyphicon-alert {
    color: #f7615c;
    font-size: 3em;
    margin-bottom: 8px;
    -webkit-animation: jiggle 0.5s ease-in-out 2 alternate;
    -moz-animation: jiggle 0.5s ease-in-out 2 alternate;
    -o-animation: jiggle 0.5s ease-in-out 2 alternate;
    animation: jiggle 0.5s ease-in-out 2 alternate;
}

@-webkit-keyframes jiggle {
    100%   { -webkit-transform: scale(1.25); }
}@-moz-keyframes jiggle {
    100%   { -moz-transform: scale(1.25); }
}@-o-keyframes jiggle {
    100%   { -o-transform: scale(1.25); }
}@keyframes jiggle {
    100%   { transform: scale(1.25); }
}

.hero-remove {
    float: right;
    font-size: 1.2em;
    color: #f7615c;
    transition: all 0.1s ease;
}

.hero-remove::before {
    position: absolute;
    top: 0;
    right: 0;
    
}

.hero-remove:hover {
    font-size: 1.35em;
    color: red;
}

.hero-section {
    text-align: left;
    padding-bottom: 10px;
}

/* index page*/
.hero-section>.panel {
    position: relative;
    height: 570px;
}

/* hero page */
.hero-section.panel {
    min-height: 760px;
}

.hero-section>h1 {
    margin-top: 0px;
}

.hero-section h5 {
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 2px;
}

.hero-section .section-label {
    color: #777;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    margin: 0;
}

.hero-stat-section {
    margin-bottom: 8px;
}

/* padding for absolutely positioned link at bottom */
.hero-stat-section:last-of-type {
    margin-bottom: 70px;
}

.hero-stat-section > .stat-bar {
    line-height: 1em;
}

#hero-section-parent img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 760px;
}

.hero-aside {
    max-height: 760px;
}

.hero-link {
    position: absolute;
    bottom: 10px;
    left: 0.5em;
    right: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.hero-link a {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hero-link>a:hover {
    text-decoration: none;
    background-color: white;
    transition: background-color, 0.4s, ease;
}

.stat-bar {
    color: #fff;
    padding: 4px;
    text-align: left;
    background-color: #f99e1a;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;

    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    -webkit-animation-name:stat-bar-anim;
    -webkit-animation-duration:2s;
    -webkit-animation-timing-function:ease-out;
}

.hero-stat-section:nth-child(even) .stat-bar {
    background-color: #405275;
}

@-webkit-keyframes stat-bar-anim {
0% { width:0%; }
}

.btn-group-toggle {
    margin: 20px;
}

.glyphicon.loading {
    font-size: 2.3em;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}



/*=======================*/
/*BOOTSTRAP OVERRIDES START */
/*=======================*/

.panel-default {
    background-color: rgba(255, 255, 255, .5);
    padding: 10px;
}

.jumbotron {
    background-color: rgba(255, 255, 255, .5);
}

.dropdown-inline.divider {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 90%;
    width: 1px;

}

.divider-vertical {
    height: 100%;
    border-left: 1px solid gray;     /* right or left is the same */
    float: left;                     /* so BS grid doesn't break */
    opacity: 0.5;                    /* optional */
}

.navbar-inverse {
    background-color: #29364D;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.navbar-brand {
    background-color: white;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: rgba(249, 158, 26, 1);
}

.navbar-inverse .navbar-nav li a {
    font-weight: 700;
    color: #dddddd;
}

.navbar-nav .dropdown .dropdown-menu {
    background-color: #405275;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

/*btn-group dropdown overrides*/
.btn-group .dropdown-menu {
    padding: 0;
}

ul > li > label {
    width: 100%;
}

[data-toggle=buttons]>.btn input[type=checkbox], .dropdown-menu>li label input[type=checkbox], [data-toggle=buttons]>.btn input[type=radio], [data-toggle=buttons]>.btn-group>.btn input[type=checkbox], [data-toggle=buttons]>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.dropdown-menu>li:not(:first-child):not(:last-child):not(.dropdown-toggle)>label.btn {
    border-radius: 0;
}

.dropdown-menu>li:first-child:not(:last-child):not(.dropdown-toggle)>label.btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown-menu>li:last-child:not(:first-child):not(.dropdown-toggle)>label.btn {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

/*=======================*/
/*BOOTSTRAP OVERRIDES END */
/*=======================*/



/*================
  HERO PAGE
 ===============*/

#hero {
    opacity: 0;
}

.dl-horizontal dt {
  text-align: left;
}



/*=========================*/
/*Gradients per Hero*/
/*=========================*/
.body-ana {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #D3D7E7 0%, #3D63DA 180%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #D3D7E7 0%, #3D63DA 180%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #D3D7E7 0%, #3D63DA 180%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #D3D7E7), color-stop(180, #3D63DA));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #D3D7E7 0%, #3D63DA 180%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #D3D7E7 0%, #3D63DA 180%);
}

.body-bastion {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #E9FFE3 25%, #7A9767 260%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #E9FFE3 25%, #7A9767 260%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #E9FFE3 25%, #7A9767 260%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(25, #E9FFE3), color-stop(260, #7A9767));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #E9FFE3 25%, #7A9767 260%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #E9FFE3 25%, #7A9767 260%);
}

.body-dva {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF -10%, #FEC9EC 180%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF -10%, #FEC9EC 180%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF -10%, #FEC9EC 180%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(-10, #FFFFFF), color-stop(180, #FEC9EC));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF -10%, #FEC9EC 180%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF -10%, #FEC9EC 180%);
}

.body-genji {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #E8E5E0 -10%, #6B7966 200%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #E8E5E0 -10%, #6B7966 200%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #E8E5E0 -10%, #6B7966 200%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(-10, #E8E5E0), color-stop(200, #6B7966));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #E8E5E0 -10%, #6B7966 200%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #E8E5E0 -10%, #6B7966 200%);
}

.body-hanzo {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFF6DE 30%, #345286 150%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFF6DE 30%, #345286 150%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFF6DE 30%, #345286 150%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(30, #FFF6DE), color-stop(150, #345286));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFF6DE 30%, #345286 150%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFF6DE 30%, #345286 150%);
}

.body-junkrat {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFAF0 45%, #ED8A34 110%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFAF0 45%, #ED8A34 110%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFAF0 45%, #ED8A34 110%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(45, #FFFAF0), color-stop(110, #ED8A34));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFAF0 45%, #ED8A34 110%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFAF0 45%, #ED8A34 110%);
}

.body-lucio {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #E5FFC7 60%, #B8FF45 125%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #E5FFC7 60%, #B8FF45 125%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #E5FFC7 60%, #B8FF45 125%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(60, #E5FFC7), color-stop(125, #B8FF45));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #E5FFC7 60%, #B8FF45 125%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #E5FFC7 60%, #B8FF45 125%);
}

.body-mccree {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #AC9164 130%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #AC9164 130%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #AC9164 130%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #FFFFFF), color-stop(130, #AC9164));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #AC9164 130%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #AC9164 130%);
}

.body-mei {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF -10%, #87d7f6 120%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF -10%, #87d7f6 120%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF -10%, #87d7f6 120%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(-10, #FFFFFF), color-stop(120, #87d7f6));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF -10%, #87d7f6 120%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF -10%, #87d7f6 120%);
}

.body-mercy {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #FFFFA3 170%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #FFFFA3 170%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #FFFFA3 170%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #FFFFFF), color-stop(170, #FFFFA3));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #FFFFA3 170%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFA3 170%);
}

.body-orisa {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FCF4D6 25%, #CDD152 260%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FCF4D6 25%, #CDD152 260%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FCF4D6 25%, #CDD152 260%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(25, #FCF4D6), color-stop(260, #CDD152));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FCF4D6 25%, #CDD152 260%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FCF4D6 25%, #CDD152 260%);
}

.body-pharah {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFF5EB 30%, #3461A4 135%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFF5EB 30%, #3461A4 135%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFF5EB 30%, #3461A4 135%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(30, #FFF5EB), color-stop(135, #3461A4));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFF5EB 30%, #3461A4 135%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFF5EB 30%, #3461A4 135%);
}

.body-reaper {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #CCCCCC 40%, #541910 125%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #CCCCCC 40%, #541910 125%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #CCCCCC 40%, #541910 125%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(40, #CCCCCC), color-stop(125, #541910));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #CCCCCC 40%, #541910 125%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #CCCCCC 40%, #541910 125%);
}

.body-reinhardt {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #E6E1D7 50%, #5D5956 160%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #E6E1D7 50%, #5D5956 160%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #E6E1D7 50%, #5D5956 160%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(50, #E6E1D7), color-stop(160, #5D5956));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #E6E1D7 50%, #5D5956 160%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #E6E1D7 50%, #5D5956 160%);
}

.body-roadhog {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #F0EBE0 60%, #999CC2 110%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #F0EBE0 60%, #999CC2 110%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #F0EBE0 60%, #999CC2 110%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(60, #F0EBE0), color-stop(110, #999CC2));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #F0EBE0 60%, #999CC2 110%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #F0EBE0 60%, #999CC2 110%);
}

.body-soldier76 {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #F2F2F2 15%, #525D9B 165%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #F2F2F2 15%, #525D9B 165%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #F2F2F2 15%, #525D9B 165%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(15, #F2F2F2), color-stop(165, #525D9B));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #F2F2F2 15%, #525D9B 165%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #F2F2F2 15%, #525D9B 165%);
}

.body-sombra {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #7241D0 150%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #7241D0 150%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #7241D0 150%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #FFFFFF), color-stop(150, #7241D0));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #7241D0 150%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #7241D0 150%);
}

.body-symmetra {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #3CFFFF 500%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #3CFFFF 500%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #3CFFFF 500%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #FFFFFF), color-stop(500, #3CFFFF));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #3CFFFF 500%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #3CFFFF 500%);
}

.body-torbjorn {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFF1DA 15%, #B04A33 200%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFF1DA 15%, #B04A33 200%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFF1DA 15%, #B04A33 200%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(15, #FFF1DA), color-stop(200, #B04A33));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFF1DA 15%, #B04A33 200%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFF1DA 15%, #B04A33 200%);
}

.body-tracer {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 10%, #FFCF35 150%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 10%, #FFCF35 150%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 10%, #FFCF35 150%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(10, #FFFFFF), color-stop(150, #FFCF35));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 10%, #FFCF35 150%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 10%, #FFCF35 150%);
}

.body-widowmaker {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #B1B4DB 130%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #B1B4DB 130%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #B1B4DB 130%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #FFFFFF), color-stop(130, #B1B4DB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #B1B4DB 130%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #B1B4DB 130%);
}

.body-winston {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #e1dfd8 130%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #e1dfd8 130%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #e1dfd8 130%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #FFFFFF), color-stop(130, #e1dfd8));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 0%, #e1dfd8 130%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #e1dfd8 130%);
}

.body-zarya {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FF73C1 -250%, #FFFFFF 55%, #5588A2 250%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FF73C1 -250%, #FFFFFF 55%, #5588A2 250%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FF73C1 -250%, #FFFFFF 55%, #5588A2 250%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(-250, #FF73C1), color-stop(55, #FFFFFF), color-stop(250, #5588A2));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FF73C1 -250%, #FFFFFF 55%, #5588A2 250%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FF73C1 -250%, #FFFFFF 55%, #5588A2 250%);
}

.body-zenyatta {
    /* IE10+ */ 
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 5%, #6F241E 250%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 5%, #6F241E 250%);

    /* Opera */ 
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 5%, #6F241E 250%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(5, #FFFFFF), color-stop(250, #6F241E));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FFFFFF 5%, #6F241E 250%);

    /* W3C Markup */ 
    background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 5%, #6F241E 250%);
}



