<section class="hero-stat-section hero-status">
	<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
	<h4>No Playtime!</h4>
	<hr>
	<p>Play this hero more often in Quick Play to see statistics!</p>
</section>