<section class="hero-stat-section hero-message">
	<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
	<h4>No Playtime!</h4>
	<hr>
	<p>You need to play this hero more often in Quickplay to see statistics!</p>
</section>