<section class="hero-stat-section hero-message">
	<span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
	<h4>No Stats!</h4>
	<hr>
	<p>Connect a BattleTag to get statistics for this hero!</p>
</section>