<header>
	{{> header}}
</header>
<main>
	<!-- background image -->
	<span id="ow-bg"></span>

	<!-- error section -->
	<div class="container">
		<div class="jumbotron" id="page-error">
			<h2 class="text-center">Page Not Found</h2>
			<hr>
			<p class="text-center">Something went wrong. The page you're looking for cannot be found.</p>
		</div>
	</div>
</main>