<header>
	{{> header}}
</header>
<main>
	<div class="container">
		{{> heroSelect}}
	</div>
	<div class="container hero-container">
		<div class="row" id="hero-multiple-parent">
			{{#each heroes}}
				{{#if this.compare}}
					{{> heroSummary hero=this}}
				{{/if}}
			{{/each}}
		</div>
	</div>
</main>